.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content"
    "sidebar sidebar sidebar";
  grid-gap: 10px;
  grid-auto-rows: 100px
}

.header {
  background: cyan;
}

.header {
  grid-area: header
}

.content {
  grid-area: content
}
.content {
  background: burlywood;
}

.sidebar {
  background: yellow;
  grid-area: sidebar;
}

@media(max-width: 700px) {
  .container {
    grid-template-areas:
    "sidebar header header"
    "sidebar content content"
    "sidebar content content";
  }
}