button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  border-radius:5px;
  font-size: 15px;
}

h1 {
  padding: 0;
}

.codepen {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
}

.pen_details {
  color: white;
}

header {
  background: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}

.editor {
  display: grid;
  grid-template-rows: auto 1fr;
}

.code {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background: lightblue;
}

.editor__header {
  background: darkblue;
  color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-gap: 10px;
}

textarea {
  resize: none;
}

footer {
  background: black;
}